.modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.29);
}
.modal {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;

    width: 350px;

    border-radius: 10px;

    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

.icon {
    border-radius: 0 10px 0 0;
    position: relative;
}

.header {
    display: inline-block;
    color: #756F86;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    height: 30px;
    border: 1px solid #DBE2EA;
    color: #7C9CBF;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(44, 39, 56, 0.04);
    font-weight: 400;
    border-radius: 6px;
    padding-left: 10px;
    transition: .1s all ease-out;
    margin-bottom: 15px;
}
.input::placeholder {
    color: #7C9CBF;
}
.input:focus {
    /*border: 2px solid rgba(120, 130, 190, 0.71);*/
    outline: 2px solid rgba(120, 130, 190, 0.71);
    outline-offset: -1px;
}

.order_items {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    right: 0;
    top: 54px;
    z-index: 10;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
    max-height: 50vh;
    overflow-y: auto;
}
.order_item {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #F6F6F6;
    align-items: center;
    height: 30px;
    color: #3a3a3a;
    padding-left: 10px;
}
.order_item:hover {
    background-color: #f5f5f5;
}
.order_item_first {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    background-color: #ffffff;
    border-bottom: 2px solid #F6F6F6;
    height: 30px;
    color: #3a3a3a;
    border-radius: 6px 6px 0 0;
}
.order_item_first:hover {
    background-color: #f5f5f5;
}

.order_item_last {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    background-color: #ffffff;
    border-bottom: 2px solid #F6F6F6;
    height: 30px;
    color: #3a3a3a;
    border-radius: 0 0 6px 6px ;
}
.order_item_last:hover {
    background-color: #f5f5f5;
}

.order_select {
    position: relative;
}

.select {
    position: absolute;
    top: 33px;
    right: 6px;
    width: .8em;
    height: .8em;
    fill: #7C9CBF;
}

.icon {
    min-width: .8rem;
    width: .8rem;
    min-height: .8rem;
    height: .8rem;
}