.content {
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.previous {
    background-color: #7F9CC7;
    color: #fff;
    border: 2px solid #BCD7FF;
    border-radius: 6px 0 0 6px;
    width: 70px;
    height: 30px;
    font-weight: 400;
}
.previous:hover {
    background-color: #7591bb;
}
.next {
    background-color: #7F9CC7;
    color: #fff;
    border: 2px solid #BCD7FF;
    border-radius: 0 6px 6px 0;
    width: 70px;
    height: 30px;
    font-weight: 400;
}
.next:hover {
    background-color: #7591bb;
}
.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7F9CC7;
    color: #fff;
    border-top: 2px solid #BCD7FF;
    border-bottom: 2px solid #BCD7FF;
    width: 130px;
    height: 30px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 2px 10px;
}

.input {
    text-align: end;
    font-weight: 400;
    display: inline-block;
    background-color: #fff;
    border-radius: 3px;
    color: #7F9CC7;
    width: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 6px;
    height: 19px;
}

.text {
    color: #fff;
}

.text_pages{
    color: #fff;
    margin-left: 6px;
}